h1{
    text-align: center;
    color: red;
}
#all{
    margin: 50px;
}
#some{
    text-align: center;
    margin:auto;
    width: 50%;
}
#answers{
    display: block;
    width: 50%;
    margin:auto;
    text-align: center;
}
#grade{
    display:none;
    text-align: center;
}
h2 {
    text-align: center;
}
h3{
    text-align: center;
}
#startOver{
    padding: 15px;
    display: none;
    margin:auto;
}
#numQuestions{
    text-align: center;
}
#selectCategory{
    text-align: center;
}
#selectDifficulty{
    text-align: center;
}
#selectType{
    align-items:center;
}
#table{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}
td, th{
    padding: 10px;
}